.Footer {
    margin-top: 100px;
    padding: 10px 0 50px 0;
    text-align: center;
    background-color: #f1f0f0;
    img {
        cursor: pointer;
        width: 35px;
        margin: 5px 7px;
    }
}
