.App {
    margin-top: 50px;
    header {
        margin-top: 45px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        color: #4a4e69;
        font-weight: 300;
    }
    h4 {
        margin: 0 0 -10px 0;
    }
}
